<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Numerology App</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/people.css">

<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="container-fluid">

		<div class="content col-md-6">
			<%= yield %>
		</div>

	</div>
</body>
</html>