<form action="/people" method="post">
	<label for="first_name">First Name:</label>
	<input type="text" name="first_name" />

	<label for="first_name">Last Name:</label>
	<input type="text" name="last_name" />

	<label for="first_name">Birthdate:</label>
	<input type="date" name="birthdate" />

	<input type="submit" />
</form>